<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>Statistic Report of Contribution made on Facebook Public Repositories From Beginning</h1>
<h2>This months could have been transposed column wise  , but thats okay</h2>
<h3>Ordering is done repositories alphabetically and its months Ascending</h3>
<table>
  <caption><b>Monthly Contribution</b></caption>
  <tr>
    $HEADER
  </tr>
{% for item in data %}
  <tr>
    $DETAILS
  </tr>
{% endfor %}
</table>

</body>
</html>
